*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    /* Para el slider de imagenes */
    .contenedor1
    {
    width: 100%;
    overflow: hidden;
    }
    .texto1{
    position: absolute;
    top: 16%; 
    left: 0%;
    font-size: 320%;
    /*background-color: rgba(32, 32, 82, 0.205);*/
    color: rgba(220, 220, 240, 0.884);
    }
    .texto2
    {
    position: absolute;
    top: 40.4%;
    left: 0%;
    margin-left: 8%;
    /* background-color: rgba(230, 230, 240, 0.205);*/
    color: rgba(224, 224, 235, 0.884);
    font-size: 210%;
    }
    .contenido-slider
    {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.9;
    }
    .contenido-slider:nth-child(1)
    {
    background: rgb(11, 90, 73);
    color: rgb(180, 4, 4);
    }
    .contenido-slider:nth-child(2)
    {
    background: rgba(129, 11, 11, 0.986);
    color: white;
    }
    .contenido-slider:nth-child(3)
    {
    background: rgb(32, 32, 82);
    color: white;
    }
    .contenido-slider > img
    {
    width: 100%;
    }
    .slider-contenedor
    {
    width: 100%;
    display: flex;
    }
    @media screen and (max-width:900px)
    {
    .contenido-slider > img
    {
    width: 250px;
    }
    .contenido-slider > div
    {
    width: 40%;
    }
    .contenido-slider > p
    {
    font-size: 23px;
    } 
    }
    @media screen and (max-width:600px)
    {
    .contenido-slider > img
    {
    flex-direction: column-reverse;
    }
    .contenido-slider > div
    {
    width: 80%;
    }
    
    }
    /* Fin de slider de imagenes */
    
    body{
    font-family:'Open sans';
    width: 100%;
    }
    .contenedor{
    padding: 60px 0px 100px;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    
    } 
    .titulo{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    
    }
    .line2
    {
    width: 100%;
    margin: auto;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 60px;
    
    }
    .contenedor-menu
    {
    width: 100%;
    padding: 0;
    }
    .menu
    {
    background-color:rgb(0, 0, 0);
    padding: 20px;
    }
    nav > a{
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    }
    nav > a:hover{
    background-color: rgba(209, 209, 224, 0.596);
    margin: 15px;
    }
    
    
    /*galeria*/
    .portafolio{
    width: 100%;
    background: rgb(230, 230, 240);
    padding: 10px 100px;
    }
    .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .imagen-port{
    width: 33%;
    margin-bottom: 10px;
    height: 290px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    }
    .imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
    .hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.479);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .hover-galeria img{
    width: 50px;
    
    }
    .hover-galeria p{
    color: #fff;	
    }
    .imagen-port:hover .hover-galeria {
    transform: scale(1);
    } 
    /* Footer */
    footer
    {
    background: rgb(0, 0, 0);
    padding-bottom: 0.1px;
    }
    .footer-contenido
    {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    }
    .contact-us
    {
    width: 42%;
    color: #fff;
    margin-left: 80px;
    }
    .brand
    {
    font-weight: 500;
    font-size: 40px;
    
    }
    .social-media
    {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    
    }
    .social-media-icon
    {
    display: inline-block;
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    }
    .social-media-icon:hover
    {
    background: rgb(255, 255, 255);
    color: #000000;
    }
    .social-media-icon i
    {
    font-size: 30px;
    line-height: 60px;
    
    }
    .line
    {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
    
    }
    /* Fin del footer */
    
    /* Principal */
    .portafolio2{
    width: 100%;
    background: rgb(230, 230, 240);
    padding: 30px;
    }
    .galeria-port2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .imagen-port2{
    width: 48%;
    margin-bottom: 10px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    }
    .imagen-port2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
    .hover-galeria2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.466);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .hover-galeria2 img{
    width: 50px;
    
    }
    .hover-galeria2 a{
    color: #fff;	
    text-decoration: none;
    font-size: 60px;
    }
    .imagen-port2:hover .hover-galeria2 {
    transform: scale(1);
    }
    /* Fin principal */
    div.hover-galeria a
    {
    text-decoration: none;
    font-size: 25px;
    color: white;
    }
    /* Inicio formulario de contacto */
    div.form-contacto
    {
    
    padding-top: 40px;
    margin-left: 80px;
    }
    div.contenedor-input
    {
    width: 33%;
    margin: 20px 20px 10px;
    }
    div.contenedor-input > label, legend
    {
    color: rgb(255, 255, 255);
    }
    div.contenedor-input > label
    {
    font-size: 20px;
    }
    div.form-contacto > fieldset > legend
    {
    font-size: 20px;
    border-radius: 5px;
    }
    div.form-contacto > fieldset
    {
    width: 50px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    }
    div.Botones > input
    {
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(180, 4, 4);
    color: white;
    font-size: medium;
    }
    div.Botones > input:hover
    {
    background-color: rgba(180, 4, 4, 0.603);
    }
    div.contenedor-input > input
    {
    width: 400px;
    height: 40px;
    background: rgb(0, 0, 2);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid white;
    font-size: 15px;
    }
    div.mensaje > input
    {
    width: 400px;
    height: 100px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid white;
    font-size: 15px;  
    }
    div.mensaje > label
    {
    color: rgb(255, 255, 255);
    font-size: 20px;
    }
    /* Fin del formulario de */
    
    /* Contenedor contacto */
    .contenedor-contacto
    {
    width: 100%;
    height: auto;
    background-color: black;
    }
    div.otra-informacion > p
    {
    color: white;
    font-size: 30px;
    text-align: center;
    }
    div.otra-informacion
    {
    width: 750px;
    height: 380px;
    margin-top: 50px;
    float: right;
    margin-right: 40px;
    
    }
    #Email,#nombre,#Asunto,#Mensaje::placeholder
    {
    text-align: center;
    }
    
    